<launch>   
    <node pkg="ntrip_ros" type="ntripclient.py" name="ntrip_client" output="screen">
        <param name="ntrip_server" value="rtk2go.com:2101" />
        <param name="ntrip_user" value="" />
        <param name="ntrip_pass" value="none" />
        <param name="ntrip_stream" value="LFPWD_HV" />
        <param name="nmea_gga" value="GPGGA,%02d%02d%04.2f,4760.6200,N,12233.2100,W,1,24,0.6,38.9,M,84.4,M,0,0" />
        <param name="rtcm_topic" value="/mavros/gps_rtk/send_rtcm" />
    </node>
</launch>


